body{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

#spacer{
    padding-top: 25px;
}

.settingslist{
    background-color: grey;
    padding-left: 15vh;
    height: 100vh;
    margin-right: 70%;
    padding-top: 10vh;
    overflow: hidden;
    position: static;
    z-index: 1;
}