body{
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

#spacer{
    padding-top: 25px;
}

.basicaccount{
background-color: rgb(52, 55, 61);
width: 70%;
height: 100%;
float: right;
padding-top: 10vh;
}

.settingslist{
    background-color: rgb(79, 83, 92);
    text-align: center;
    padding-left: 30vh;
    height: 100%;
    margin-right: 70%;
    padding-top: 10vh;
    overflow-y: auto;
    z-index: 1;
    font-size: 25px;
    list-style-type: none;
    border-radius: 2px;
    color: rgb(43, 18, 35);
}

li:active{
    margin-right: 5vh;
    border-radius: 5px;
    background-color: rgb(255, 254, 168);
    border-bottom: 3px solid red;
    padding-bottom:5px;
    color: rgb(43, 18, 35);
}

li:hover{
    margin-right: 5vh;
    border-radius: 5px;
    background-color: #3D3F43;
    border-bottom: 3px solid red;
    padding-bottom:5px;
    color: yellow;
}

li{
    margin-right: 5vh;
    border-radius: 5px;
    background-color: #3D3F43;
    border-bottom: 3px solid rgb(112, 73, 252);
    padding-bottom:5px;
    color: yellow;
}
.basicaccounttext{
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
}
.basicgame{
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
    visibility: hidden;
    height: 0;
}

.headertext{
    color: white;
    font-size: 33px;
    font-weight: bold;
    text-shadow: 3px 3px 0px grey;
}

.basicaccountinfo{
    background-color: rgb(28, 29, 31);
    overflow: auto;
    border-radius: 10px;
    margin-top: 5%;
    width: 75%;
    height: 19%;
    color: white;
    font-size: 18px;
}

#accountinfodiv{
    overflow: hidden;
    height: 29%; 
}
#logout{
    color: red;
    font-weight: bold;
}
#logout:hover{
    color: rgb(168, 0, 0);
}

#logoutbtn{
    background-color: transparent;
    border-radius: 4px;
    outline: transparent;
    border: red solid 2px;
    margin-left: 10%;
    text-align: center;
    padding-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4px;
}
#logoutbtn:hover{
    border: rgb(168, 0, 0) solid 2px;
}
.basicaccountinfotext{
    margin-left: 10%;
    text-align: center;
    padding-top: 5%;
}


