body{
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #333333;
}
#Update{
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 50vh;
}
#text{
  font-size: 50px;
  color:white;
  text-shadow: 4px 4px 0px grey;
  font-weight: bold;
}

#maintext{
  font-weight: bold;
  color: aqua;
}